# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Kubernetes / kubeconfig
kubeconfig
*.kubeconfig
.kube/

# AWS
.aws/
*.pem

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp

# Env files
.env
.env.*
